*{
    /*Reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style: none;
    outline: none;
    /*Font*/
    font-family: 'Inter', sans-serif;
    font-size: 62,5%;
    /*Color*/
    --light-blue-100: hsla(227, 60%, 97%, 1);
    --dark-blue-300: hsla(213, 84%, 24%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --gray-500: hsla(210, 10%, 23%, 1);
    --decoder-btn: hsla(214, 26%, 88%, 1);
    --gray-400: hsla(210, 9%, 31%, 1);
}